.list-progress {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  border-radius: 3px;
}

.download__status__progress {
  position: relative;
  background: #f0f0f0;
  width: 104px;
  height: 13px;
  border-radius: 3px;
  margin-bottom: 6px;
}
.progress__value {
  position: absolute;
  background: #19e26a;
  width: var(--width);
  height: 13px;
  border-radius: 3px;
  content: "";
}
.download__data {
  color: #000000;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  margin-top: 3px;
}
